
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
  padding-left: 8% ;
  padding-right: 8%;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #09090B;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}

.sp-text {
  background: conic-gradient(at top, #c084fc, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.icon {
  padding: 12px;
  font-size: 20px;
  border: 1px solid #1f2937;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  cursor: pointer;
  transition: 0.2s ease;
}

.icon:hover {
  background-color: #1e1e22;
}